@model List<Image>

@section Header {
    @await Html.PartialAsync("_HeaderPartial", ViewData["Title"])
}

<div class="row mb-4">
    <div class="col-md-12">
        <button class="btn btn-info" id="btn-edit">
            <i class="fa fa-edit"></i>
            Edit
        </button>
        <button class="btn btn-danger" id="btn-delete">
            <i class="fa fa-trash"></i>
            Delete
        </button>
        <button class="btn" id="btn-cancel">
            <i class="fa fa-edit"></i>
            Cancel
        </button>
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6 col-md-3 col-lg-2 mb-3">
            <div class="card cusor-pointer">
                <input type="checkbox" id="@item.Id" hidden disabled/>
                <label for="@item.Id">
                    <img class="card-img-top img-fluid" src="@item.Path" alt="" style="height: 221px" asp-append-version="true">
                </label>
                <div class="card-img-overlay p-0">
                    <div class="img-detail text-white p-2">
                        <div>@item.Name</div>
                        <div class="img-description">
                            @item.Description
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section Scripts {
    <script>
        var btnDelete = $('#btn-delete');
        var btnCancel = $('#btn-cancel');
        var btnEdit = $('#btn-edit');
        var checkbox = $('input[type=checkbox]');
        var img = $(".img-fluid");
        hideBtn();

        btnEdit.click(function() {
            showBtn();
            checkbox.attr('disabled', false);
            img.on('click',
                function() {
                    $(this).toggleClass("p-1");
                });
        });

        btnDelete.click(function() {
            $.ajax(function() {

            });
        });

        btnCancel.click(function() {
            clear();
        });

        function hideBtn() {
            btnDelete.hide();
            btnCancel.hide();
            btnEdit.show();
        }

        function showBtn() {
            btnDelete.show();
            btnCancel.show();
            btnEdit.hide();
        }

        function clear() {
            checkbox.prop('checked', false);
            checkbox.attr('disabled', true);
            img.removeClass('p-1');
            img.off('click');
            hideBtn();
        }
    </script>
}