@model Album

@{
    ViewData["Title"] = $"{Model.Name} Album";
}

<div class="mt-2">
    <div class="row px-1 justify-content-center">
        <div class="col-md-12">
            <h1>@Model.Name</h1>
            <div>
                <i class="fa fa-tag"></i> <a href="#">Ecchi</a> &nbsp;
                <i class="fa fa-eye"></i> 26401 Views &nbsp;
                <i class="fa fa-image"></i> @Model.Images.Count Images &nbsp;
                <i class="fa fa-calendar"></i> @Model.CreatedDate?.ToString("d MMM yyyy") &nbsp;
                <i class="fa fa-user"></i> by <a href="#">@Model.User.Name</a>
            </div>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
    <div class="row px-1 mb-2">
        <div class="col-md-12">
            <button class="btn btn-primary" id="btn-add" data-toggle="modal" data-target="#upload-modal">
                <i class="fa fa-plus"></i>
                Add
            </button>
            @await Html.PartialAsync("_EditPartial")
        </div>
    </div>
    <div class="row no-gutters">
        @foreach (var item in Model.Images)
        {
            <div class="col-6 col-md-3 col-lg-2 p-1">
                @await Html.PartialAsync("_ImagePartial", item)
            </div>
        }
    </div>
</div>

@await Html.PartialAsync("_SlidePartial", Model.Images)

<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="AddImage" asp-route-id="@Model.Id" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <h5 class="modal-title">Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="file-loading">
                        <input id="files" name="files" multiple type="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script id="script-edit" src="~/js/edit.js" asp-append-version="true" data-url="@Url.Action("Delete", "Image")"></script>

    <script>
        $(document).ready(() => {
            $("#files").fileinput({
                showPreview: false,
                showUpload: false,
                allowedFileExtensions: ["jpg", "png", "gif", "jpeg"],
                uploadUrl: 'upload'
            });
        });
    </script>
}