@model Album

@{
    ViewData["Title"] = $"{Model.Name} Album";
}

<div class="mt-2">
    <div class="row px-1 justify-content-center">
        <div class="col-md-12">
            <h1>@Model.Name</h1>
            <div>
                <i class="fa fa-tag"></i> <a href="#">Ecchi</a> &nbsp;
                <i class="fa fa-eye"></i> 26401 Views &nbsp;
                <i class="fa fa-image"></i> @Model.Images.Count Images &nbsp;
                <i class="fa fa-calendar"></i> @Model.CreatedDate?.ToString("d MMM yyyy") &nbsp;
                <i class="fa fa-user"></i> by <a href="#">@Model.User.Name</a>
            </div>
            <p>
                @Model.Description
            </p>
        </div>
    </div>
    <div class="row px-1 mb-2">
        <div class="col-md-12">
            <a asp-action="Create" asp-controller="Image" class="btn btn-primary">
                <i class="fa fa-plus"></i>
                Add
            </a>
            @await Html.PartialAsync("_EditPartial")
        </div>
    </div>
    <div class="row no-gutters">
        @foreach (var item in Model.Images)
        {
            <div class="col-6 col-md-3 col-lg-2 p-1">
                @await Html.PartialAsync("_ImagePartial", item)
            </div>
        }
    </div>
</div>


<div id="modal" class="modal fade">
    <div class="modal-dialog modal-lg my-1">
        <div class="modal-content">
            <div id="carousel" class="carousel" data-ride="carousel">
                <div class="carousel-inner">
                    @foreach (var item in Model.Images)
                    {
                        <div class="carousel-item" id="slide-@item.Id">
                            <img class="img-fluid d-block mx-auto" src="@item.Path" alt="" asp-append-version="true" style="min-height: 700px">
                        </div>
                    }
                </div>
                <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script id="script-edit" src="~/js/edit.js" asp-append-version="true" data-url="@Url.Action("Delete", "Image")"></script>

    <script>
        var carousel = $('#carousel');
        $(document).keydown((e) => {
            if (e.keyCode === 37) {
                carousel.carousel('prev');
            } else if (e.keyCode === 39) {
                carousel.carousel('next');
            }
        });
    </script>
}