@model List<Album>

@{
    ViewData["Title"] = "Albums";
}

<div class="row px-1 my-2">
    <div class="col-md-12">
        <button class="btn btn-primary" id="btn-add" data-toggle="modal" data-target="#create-modal">
            <i class="fa fa-plus"></i>
            Create new Album
        </button>
        @await Html.PartialAsync("_EditPartial")
    </div>
</div>

<div class="row no-gutters">
    @foreach (var item in Model)
    {
        <div class="col-6 col-md-3 col-lg-2 p-1">
            <a asp-action="Detail" asp-controller="Album" asp-route-id="@item.Id">
                <div class="card cusor-pointer">
                    <input type="checkbox" id="check-@item.Id" name="selectedItems" value="@item.Id" hidden/>
                    <label for="@item.Id" class="m-0"></label>
                    <img class="card-img-top img-fluid" src="@item.Images?.FirstOrDefault()?.Path" alt="" data-id="@item.Id" style="height: 175px" asp-append-version="true">
                    <div class="card-img-overlay p-0 d-block">
                        <div class="img-detail text-white p-2">
                            <div>@item.Name</div>
                            <div class="img-description">
                                <i class="fa fa-image"></i> @(item.Images?.Count ?? 0)
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>

@await Html.PartialAsync("_CreatePartial")

@section Scripts {
    <script id="script-edit" src="~/js/edit.js" asp-append-version="true" data-url="@Url.Action("Delete", "Album")"></script>

    <script>
        $('#form').submit(e => {
            e.preventDefault();
            $.ajax({
                method: 'post',
                url: $('#form').attr('action'),
                data: $('#form').serialize(),
                success: resp => {
                    if (resp === 'invalid') {

                    } else {
                        window.location.href = resp;
                    }
                }
            });
        })
    </script>
}